.container {
    max-width: 1200px;
}

    .header {
        background-color: #12EAEA;
        width: 100%;
    }

    .services {
        width: 100%;
    }

    .service {
        background-color: #B0DB43;
        width: 23%;
    }

    .proj {
        background-color: #BCE7FD;
        width: 32%;
    }


@media only screen and (max-width: 1000px) {
    .service {
        background-color: #61F2C2;
        width: 45%;
    }

    .proj {
        background-color: #91F291;
        width: 90%;
    }
}


@media only screen and (max-width: 600px) {
    .service {
        background-color: #11B5E4;
        width: 100%;
    }

    .proj {
        background-color: #1481BA;
        width: 90%;
    }
}
